<div class="add-transaction-page">
  <div class="transactions-header">
    <div class="transactions-header-menu">
      <%= image_tag("hamburger.png", :alt => "Menu Btn") %>
      <P class="">ADD TRANSACTION</p>
      <%= image_tag("search.png", :alt => "Search") %>
    </div>
  </div>

  <%= render "form", entity: @entity %>

  <%= link_to 'Back to transactions', user_groups_path(current_user) %>
</div>
