<div class="home-page">
  <p class="home-header">Snapscan</p>

  <div class="home-btns">
    <p class="login-btn"><%= link_to 'LOG IN', new_user_session_path %></p>
    <p class="registration-btn"><%= link_to 'SIGN UP', new_user_registration_path %></p>
  </div>
</div>